data:
  name: J.R. Mash
  git:
    email: 2574997+jrmash@users.noreply.github.com
    name: J.R. Mash
  github:
    username: jrmash
  gpg:
    signingEmail: {{ promptStringOnce (index . "gpg") "signingEmail" "GPG Signing Email" "jr@mash.pub" }}
    signingKey: {{ promptStringOnce (index . "gpg") "signingKey" "GPG Signing key" "E6902BD2D58302D3B8AB84D2C525F91A1CB0A67F" }}
  machine:
{{- if env "CODESPACES" }}
    chassis: virtual
    type: codespace
{{- else }}
    chassis: {{ promptStringOnce (index . "machine") "chassis" "Machine Chassis (desktop|laptop|server|virtual)" }}
    type: {{ promptStringOnce (index . "machine") "type" "Machine Type (personal|work)" }}
{{- end }}
