{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  name = "J.R. Mash"
  email = "2574997+jrmash@users.noreply.github.com"
  codespaces = {{ $codespaces }}

