## ============================================================================================== ##
##                                           Dev Tools                                            ##
## ============================================================================================== ##
brew 'act'                                  ## https://github.com/nektos/act
brew 'chezmoi'                              ## https://github.com/twpayne/chezmoi
brew 'curl'                                 ## https://github.com/curl/curl
brew 'direnv'                               ## https://github.com/direnv/direnv
brew 'wget'                                 ## https://git.savannah.gnu.org/cgit/wget.git

## ============================================================================================== ##
##                                       Language Suppport                                        ##
## ============================================================================================== ##
brew 'jenv'                                 ## https://github.com/jenv/jenv
brew 'node-build'                           ## https://github.com/nodenv/node-build
brew 'nodenv'                               ## https://github.com/nodenv/nodenv
brew 'perl-build'                           ## https://github.com/tokuhirom/Perl-Build
brew 'plenv'                                ## https://github.com/tokuhirom/plenv
brew 'pyenv'                                ## https://github.com/pyenv/pyenv
brew 'rbenv-bundler'                        ## https://github.com/carsomyr/rbenv-bundler
brew 'rbenv'                                ## https://github.com/rbenv/rbenv
brew 'ruby-build'                           ## https://github.com/rbenv/ruby-build
brew 'virtualenv'                           ## https://github.com/pypa/virtualenv

## ============================================================================================== ##
##                                             Shells                                             ##
## ============================================================================================== ##
brew 'bash'                                 ## https://git.savannah.gnu.org/git/bash.git
brew 'zsh'                                  ## https://github.com/zsh-users/zsh (MIRROR)