## ============================================================================================== ##
##                                           Dev Tools                                            ##
## ============================================================================================== ##
brew 'act'                                  ## https://github.com/nektos/act
brew 'artillery'                            ## https://github.com/artilleryio/artillery
brew 'chezmoi'                              ## https://github.com/twpayne/chezmoi
brew 'cookiecutter'                         ## https://github.com/cookiecutter/cookiecutter
brew 'curl'                                 ## https://github.com/curl/curl
brew 'direnv'                               ## https://github.com/direnv/direnv
brew 'gh'                                   ## https://github.com/cli/cli
brew 'git'                                  ## https://github.com/git/git
brew 'git-lfs'                              ## https://github.com/git-lfs/git-lfs
brew 'gnupg'                                ## https://github.com/gpg/gnupg
brew 'gradle', args:["ignore-dependencies"] ## https://github.com/gradle/gradle
brew 'httpie'                               ## https://github.com/httpie/httpie
brew 'jq'                                   ## https://github.com/stedolan/jq
brew 'maven', args:["ignore-dependencies"]  ## https://github.com/apache/maven
brew 'openjdk'                              ## https://github.com/openjdk/jdk
brew 'openjdk@8'                            ## https://github.com/openjdk/jdk
brew 'openjdk@11'                           ## https://github.com/openjdk/jdk
brew 'openjdk@17'                           ## https://github.com/openjdk/jdk
brew 'pinentry'                             ## https://github.com/gpg/pinentry
brew 'pinentry-mac'                         ## https://github.com/GPGTools/pinentry-mac
brew 'wget'                                 ## https://git.savannah.gnu.org/cgit/wget.git
brew 'yq'                                   ## https://github.com/mikefarah/yq

## ============================================================================================== ##
##                                          DevOps Tools                                          ##
## ============================================================================================== ##
brew 'ansible'                              ## https://github.com/ansible/ansible
brew 'helm'                                 ## https://github.com/helm/helm
brew 'istioctl'                             ## https://github.com/istio/istio
brew 'kics'                                 ## https://github.com/Checkmarx/kics
brew 'kubernetes-cli'                       ## https://github.com/kubernetes/kubectl
brew 'lynis'                                ## https://github.com/CISOfy/lynis
brew 'terraform-docs'                       ## https://github.com/terraform-docs/terraform-docs
brew 'tflint'                               ## https://github.com/terraform-linters/tflint
brew 'tfswitch'                             ## https://github.com/warrensbox/terraform-switcher
brew 'tgswitch'                             ## https://github.com/warrensbox/tgswitch

## ============================================================================================== ##
##                                       Language Suppport                                        ##
## ============================================================================================== ##
brew 'ant', args:["ignore-dependencies"]    ## https://github.com/apache/ant
brew 'goenv'                                ## https://github.com/syndbg/goenv
brew 'jenv'                                 ## https://github.com/jenv/jenv
brew 'node-build'                           ## https://github.com/nodenv/node-build
brew 'nodenv'                               ## https://github.com/nodenv/nodenv
brew 'perl-build'                           ## https://github.com/tokuhirom/Perl-Build
brew 'plenv'                                ## https://github.com/tokuhirom/plenv
brew 'pyenv'                                ## https://github.com/pyenv/pyenv
brew 'rbenv-bundler'                        ## https://github.com/carsomyr/rbenv-bundler
brew 'rbenv'                                ## https://github.com/rbenv/rbenv
brew 'ruby-build'                           ## https://github.com/rbenv/ruby-build
brew 'virtualenv'                           ## https://github.com/pypa/virtualenv

## ============================================================================================== ##
##                                             Shells                                             ##
## ============================================================================================== ##
brew 'bash'                                 ## https://git.savannah.gnu.org/git/bash.git
brew 'zsh'                                  ## https://github.com/zsh-users/zsh (MIRROR)

## ============================================================================================== ##
##                                            Software                                            ##
## ============================================================================================== ##
{{- if eq .chezmoi.os "darwin" }}
cask '1password'                            ## https://1password.com
cask '1password-cli'                        ## https://developer.1password.com/docs/cli
cask 'beyond-compare'                       ## https://www.scootersoftware.com
cask 'google-chrome'                        ## https://www.google.com/chrome
cask 'google-cloud-sdk'                     ## https://cloud.google.com/sdk
cask 'google-drive'                         ## https://www.google.com/drive
cask 'gpg-suite'                            ## https://gpgtools.org
cask 'jetbrains-toolbox'                    ## https://www.jetbrains.com/toolbox-app
cask 'snagit'                               ## https://www.techsmith.com/screen-capture.html
cask 'visual-studio-code'                   ## https://code.visualstudio.com

{{- if eq .machine.type "personal" }}
cask 'plex'                                 ## https://www.plex.tv

{{- if eq .machine.chassis "desktop" }}
cask 'handbrake'                            ## https://handbrake.fr
cask 'hyper'                                ## https://hyper.is
cask 'makemkv'                              ## https://www.makemkv.com
{{- end }}
{{- end }}
{{- end }}
