if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

plugins=(
  ## Alias Plugins
  1password                 ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/1password
  ansible                   ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/ansible
  brew                      ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/brew
  docker                    ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/docker
  docker-compose            ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/docker-compose
  git                       ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git
  gradle                    ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/gradle
  history                   ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/history
  kubectl                   ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/kubectl
  mvn                       ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/mvn
  rsync                     ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/rsync
  terraform                 ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/terraform
  
  ## Functionality Plugins
  aliases                   ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/aliases
  direnv                    ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/direnv
  helm                      ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/helm
  httpie                    ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/httpie
  isodate                   ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/isodate
  zsh-autosuggestions       ## https://github.com/zsh-users/zsh-autosuggestions
  zsh-syntax-highlighting   ## https://github.com/zsh-users/zsh-syntax-highlighting

{{- if eq .machine.type "work" }}
  gcloud                    ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/gcloud
  jfrog                     ## https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/jfrog
{{- end }}
)

## Configure OhMyZsh and P10k
export DISABLE_AUTO_UPDATE="true"

source "${HOME}/.oh-my-zsh/oh-my-zsh.sh"
source "${HOME}/.p10k.zsh"

## Configure GPG to act as the SSH agent for the host
export GPG_TTY=$(tty)

if [ -S "${HOME}/.gnupg/S.gpg-agent.ssh" ]; then
  export SSH_AUTH_SOCK=${HOME}/.gnupg/S.gpg-agent.ssh
fi

## Load XSH (cross-shell) and ZSH scripts
source ~/.xshrc

while IFS= read -r -d ''; do
  source ${REPLY}
done < <( find ~/.zshrc.d -type f -exec printf '%s\0' {} + )
