[core]
  excludesFile = {{ .chezmoi.homeDir }}/.gitignore
  pager = diff-so-fancy | less --tabs=2 -RX
{{- if eq .machine.type "codespace" }}
[credential]
  helper = /.codespaces/bin/gitcredential_github.sh
[gpg]
  program = /.codespaces/bin/gh-gpgsign
{{- end }}
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
{{- if ne .machine.type "codespace" }}
  signingKey = {{ .gpg.signingKey }}
{{- end }}

[branch]
  sort = -commimtterdate
[commit]
  gpgSign = true
[diff]
  colorMoved = zebra
[diff-so-fancy]
  markEmptyLines = false
[fetch]
  prune = true
[push]
  gpgSign = if-asked
[rerere]
  enabled = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[remote "origin"]
   fetch = +refs/pull/*:refs/remotes/origin/pull/*

## User Aliases
[alias]
  gone = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
  rexgc = !git reflog expire --expire-unreachable=now --all && git gc --prune=now
  yolo = push --force

  ## Silliness
  dad = !curl https://icanhazdadjoke.com/ && git add
