[core]
  excludesFile = {{ .chezmoi.homeDir }}/.gitignore
  pager = delta
{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- else if eq .machine.type "codespace" -}}
[credential]
  helper = /.codespaces/bin/gitcredential_github.sh
[gpg]
  program = /.codespaces/bin/gh-gpgsign
{{- end }}
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = zdiff3
[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
{{- if ne .machine.type "codespace" }}
  signingKey = {{ .gpg.signingKey }}
{{- end }}

[branch]
  sort = committerdate
[commit]
  gpgSign = true
[delta]
  minus-emph-style = brightred bold 124
  minus-style = brightred bold
  navigate = true
  paging = always
  plus-emph-style = brightgreen bold 28
  plus-style = brightgreen bold
[fetch]
  prune = true
[push]
  gpgSign = if-asked
[rerere]
  enabled = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[remote "origin"]
   fetch = +refs/pull/*:refs/remotes/origin/pull/*

## User Aliases
[alias]
  gone = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
  rexgc = !git reflog expire --expire-unreachable=now --all && git gc --prune=now
  yolo = push --force

  ## Silliness
  dad = !curl https://icanhazdadjoke.com/ && git add
  