export TF_PLUGIN_CACHE_DIR="${HOME}/.terraform.d/plugin-cache"

if [ `command -v goenv` > /dev/null ]; then
    eval "$(goenv init -)"
fi
if [ `command -v jenv` > /dev/null ]; then
    eval "$(jenv init -)"
fi
if [ `command -v nodenv` > /dev/null ]; then
    eval "$(nodenv init -)"
fi
if [ `command -v plenv` > /dev/null ]; then
    eval "$(plenv init -)"
fi
if [ `command -v pyenv` > /dev/null ]; then
    eval "$(pyenv init --path)"
fi
if [ `command -v rbenv` > /dev/null ]; then
    eval "$(rbenv init -)"
fi

while IFS= read -r -d ''; do
	source ${REPLY}
done < <( find ~/.xshrc.d -type f -exec printf '%s\0' {} + )

## Configure GPG to act as the SSH agent for the host
export GPG_TTY=$(tty)
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
{{ if eq .chezmoi.os "linux" -}}
gpg-connect-agent updatestartuptty /bye > /dev/null
{{ end -}}
