## Override 'ls' aliases to use 'lsd'
alias ls='lsd'

alias l='lsd -l'
alias la='lsd -lA'
alias lah='lsd -lAh'
alias lh='lsd -lh'
alias lt='lsd --tree'

## Additional 'brew' aliases
{{ if eq .chezmoi.os "darwin" -}}
alias bua='brew update && brew upgrade && brew upgrade --cask --greedy --force'
alias buabb='brew update && brew upgrade && brew upgrade --cask --greedy --force && brew bundle'
alias buabbc='brew update && brew upgrade && brew upgrade --cask --greedy --force && brew bundle && brew bundle --force cleanup'
{{- else if eq .chezmoi.os "linux" -}}
alias bua='brew update && brew upgrade'
alias buabb='brew update && brew upgrade && brew bundle'
alias buabbc='brew update && brew upgrade && brew bundle && brew bundle --force cleanup'
{{- end }}

## Create additional 'docker' aliases
alias deti='docker exec -t -i'
alias dsp='docker system prune'
alias dspa='docker system prune --all'

## Create additional 'git' aliases
alias gblc='git blame -w -C'
alias gblc2='git blame -w -C -c'
alias gblc3='git blame -w -C -C -C'
alias gfsck='git fsck'
alias gfscku='git fsck --unreachable'
alias gfsckunr='git fsck --unreachable --no-reflogs'
alias ggc='git gc'
alias ggcp='git gc --prune'
alias ggcpn='git gc --prune=now'
alias grexp='git reflog expire'
alias grexpu='git reflog expire --expire-unreachable'
alias grexpun='git reflog expire --expire-unreachable now'
alias grexpuna='git reflog expire --expire-unreachable now --all'

## Create additional 'kubectl' aliases
alias kd='kubectl describe'
alias kdci='kubectl describe clusterissuer'
alias kdcr='kubectl describe clusterrole'
alias kdcrb='kubectl describe clusterrolebinding'
alias kdcrt='kubectl describe certificate'
alias kdcrtr='kubectl describe certificaterequest'
alias kdcrtsr='kubectl describe certificatesigningrequest'
alias kdg='kubectl desctibe gateway'
alias kdhpa='kubectl describe hpa'
alias kdn='kubectl describe node'
alias kdvpa='kubectl describe vpa'
alias ke='kubectl edit'
alias kehpa='kubectl edit hpa'
alias kevpa='kubectl edit vpa'
alias kg='kubectl get'
alias kgci='kubectl get clusterissuer'
alias kgcr='kubectl get clusterrole'
alias kgcrb='kubectl get clusterrolebinding'
alias kgcrd='kubectl get crd'
alias kgcrt='kubectl get certificate'
alias kgcrtr='kubectl get certificaterequest'
alias kgcrtsr='kubectl get certificatesigningrequest'
alias kge='kubectl get events --sort-by='.lastTimestamp''
alias kgea='kubectl get events --all-namespaces --sort-by='.lastTimestamp''
alias kgeaw='kubectl get events --all-namespaces --watch'
alias kgg='kubectl get gateway'
alias kghpa='kubectl get hpa'
alias kghpaa='kubectl get hpa --all-namespaces'
alias kghpaw='kubectl get hpa --watch'
alias kgiaw='kubectl get ingresses --all-namespaces --waatch'
alias kgiw='kubectl get ingresses --watch'
alias kgn='kubectl get node'
alias kgpaw='kubectl get pods --all-namespaces --watch'
alias kgpaww='kubectl get pods --all-namespaces --watch -o wide'
alias kgpww='kubectl get pods --watch -o wide'
alias kgsaw='kubectl get services --all-namespaces --watch'
alias kgvpa='kubectl get vpa'
alias kgvpaa='kubectl get vpa --all-namespaces'
alias kgvpaw='kubectl get vpa --watch'
alias krr='kubectl rollout restart'
alias krrd='kubectl rollout restart deployment'
alias kt='kubectl top'
alias ktn='kubectl top nodes'
alias ktp='kubectl top pods'

## Create additional 'terraform' aliases
alias tfia='terraform init && terraform apply'
alias tfip='terraform init && terraform plan'
alias tfit='terraform init && terraform test'
alias tfitv='terraform init && terraform test --verbose'
alias tfiu='terraform init -upgrade'
alias tfiup='terraform init -upgrade && terraform plan'
alias tfs='terraform state'
alias tfsl='terraform state list'
alias tfsm='terraform state mv'
alias tfss='terraform state show'
alias tft='terraform test'
alias tftv='terraform test --verbose'

{{ if eq .machine.type "work" -}}
alias readlink='greadlink'
alias uname='guname'

## Create 'terragrunt' aliases
## If/when the following PR gets merged, this can be removed
## - https://github.com/ohmyzsh/ohmyzsh/pull/11164
alias tg='terragrunt'
alias tga='terragrunt apply'
alias tgawd='terragrunt apply --terragrunt-working-dir'
alias tgc='terragrunt console'
alias tgcwd='terragrunt console --terragrunt-working-dir'
alias tgd='terragrunt destroy'
alias tgdwd='terragrunt destroy --terragrunt-working-dir'
alias tgf='terragrunt fmt'
alias tgfwd='terragrunt fmt --terragrunt-working-dir'
alias tgi='terragrunt init'
alias tgiwd='terragrunt init --terragrunt-working-dir'
alias tgiu='terragrunt init -upgrade'
alias tgiuwd='terragrunt init -upgrade --terragrunt-working-dir'
alias tgo='terragrunt output'
alias tgowd='terragrunt output --terragrunt-working-dir'
alias tgp='terragrunt plan'
alias tgpwd='terragrunt plan --terragrunt-working-dir'
alias tgs='terragrunt state'
alias tgswd='terragrunt state --terragrunt-working-dir'
alias tgsl='terragrunt state list'
alias tgslwd='terragrunt state list --terragrunt-working-dir'
alias tgsm='terragrunt state mv'
alias tgsmwd='terragrunt state mv --terragrunt-working-dir'
alias tgss='terragrunt state show'
alias tgsswd='terragrunt state show --terragrunt-working-dir'
alias tgv='terragrunt validate'
alias tgvwd='terragrunt validate --terragrunt-working-dir'
{{- end }}

## Create 'terramate' aliases
alias tm='terramate'
alias tmc='terramate create'
alias tmf='terramate format'
alias tmg='terramate generate'
alias tml='terramate list'
alias tmr='terramate run'

## Create helpers for GPG
alias gpg-dec='gpg --decrypt --logger-file gpg.log'
alias gpg-enc='gpg --encrypt --armor --sign --recipient {{ .gpg.signingEmail }}'
alias gpg-learn='gpg-connect-agent "scd serialno" "learn --force" /bye'
