## Override 'ls' aliases to use 'lsd'
alias ls='lsd'

alias l='lsd -l'
alias la='lsd -lA'
alias lah='lsd -lAh'
alias lh='lsd -lh'
alias lt='lsd --tree'

## Additional 'brew' aliases
{{ if eq .chezmoi.os "darwin" -}}
alias bua='brew update && brew upgrade && brew upgrade --cask --greedy --force'
alias buabb='brew update && brew upgrade && brew upgrade --cask --greedy --force && brew bundle'
alias buabbc='brew update && brew upgrade && brew upgrade --cask --greedy --force && brew bundle && brew bundle --force cleanup'
{{- else if eq .chezmoi.os "linux" -}}
alias bua='brew update && brew upgrade'
alias buabb='brew update && brew upgrade && brew bundle'
alias buabbc='brew update && brew upgrade && brew bundle && brew bundle --force cleanup'
{{- end }}

## Create additional 'docker' aliases
alias deti='docker exec -t -i'
alias dsp='docker system prune'
alias dspa='docker system prune --all'

## Create additional 'kubectl' aliases
alias kd='kubectl describe'
alias kdcert='kubectl describe certificate'
alias kdcrd='kubectl describe crd'
alias kdhpa='kubectl describe hpa'
alias kdvpa='kubectl describe vpa'
alias ke='kubectl edit'
alias kehpa='kubectl edit hpa'
alias kevpa='kubectl edit vpa'
alias kg='kubectl get'
alias kgcert='kubectl get certificate'
alias kgcrd='kubectl get crd'
alias kge='kubectl get events'
alias kgea='kubectl get events --all-namespaces'
alias kgeaw='kubectl get events --all-namespaces --watch'
alias kghpa='kubectl get hpa'
alias kghpaa='kubectl get hpa --all-namespaces'
alias kghpaw='kubectl get hpa --watch'
alias kgpww='kubectl get pods --watch -o wide'
alias kgpaww='kubectl get pods --all-namespaces --watch -o wide'
alias kgvpa='kubectl get vpa'
alias kgvpaa='kubectl get vpa --all-namespaces'
alias kgvpaw='kubectl get vpa --watch'
alias krr='kubectl rollout restart'
alias krrd='kubectl rollout restart deployment'
alias kt='kubectl top'
alias ktn='kubectl top nodes'
alias ktp='kubectl top pods'

## Create additional 'terraform' aliases
alias tfia='terraform init && terraform apply'
alias tfip='terraform init && terraform plan'
alias tfit='terraform init && terraform test'
alias tfitv='terraform init && terraform test --verbose'
alias tfiu='terraform init -upgrade'
alias tfs='terraform state'
alias tfsl='terraform state list'
alias tfsm='terraform state mv'
alias tfss='terraform state show'
alias tft='terraform test'
alias tftv='terraform test --verbose'

{{ if eq .machine.type "work" -}}
alias readlink='greadlink'
alias uname='guname'

## Create 'terragrunt' aliases
## If/when the following PR gets merged, this can be removed
## - https://github.com/ohmyzsh/ohmyzsh/pull/11164
alias tg='terragrunt'
alias tga='terragrunt apply'
alias tgc='terragrunt console'
alias tgd='terragrunt destroy'
alias tgf='terragrunt fmt'
alias tgi='terragrunt init'
alias tgia='terragrunt init && terragrunt apply'
alias tgip='terragrunt init && terragrunt plan'
alias tgiu='terragrunt init -upgrade'
alias tgo='terragrunt output'
alias tgp='terragrunt plan'
alias tgs='terragrunt state'
alias tgsl='terragrunt state list'
alias tgsm='terragrunt state mv'
alias tgss='terragrunt state show'
alias tgv='terragrunt validate'

## Create 'terramate' aliases
alias tm='terramate'
alias tmc='terramate create'
alias tmf='terramate format'
alias tmg='terramate generate'
alias tml='terramate list'
alias tmr='terramate run'
{{- end }}

## Create helpers for GPG
alias gpg-dec='gpg --decrypt --logger-file gpg.log'
alias gpg-enc='gpg --encrypt --armor --sign --recipient {{ .gpg.signingEmail }}'
alias gpg-learn='gpg-connect-agent "scd serialno" "learn --force" /bye'
