## Override 'ls' aliases to use 'lsd'
alias ls='lsd'

## Additional 'brew' aliases
{{ if eq .chezmoi.os "darwin" -}}
alias bua='brew update && brew upgrade && brew upgrade --cask --greedy --force'
alias buabb='brew update && brew upgrade && brew upgrade --cask --greedy --force && brew bundle'
{{- else if eq .chezmoi.os "linux" -}}
alias bua='brew update && brew upgrade'
alias buabb='brew update && brew upgrade && brew bundle'
{{- end }}

## Create helpers for GPG
alias gpg-learn='gpg-connect-agent "scd serialno" "learn --force" /bye'
