gpg-store-secret() {
    local secret="${1}"
    local secretPath="${3:-${HOME}/.secrets}/${2}"

    echo "${secret}" | gpg --output "${secretPath}" -aeqs --recipient {{ .gpg.signingEmail }}
    chmod 0600 "${secretPath}"
}

kgsec-decrypt() {
    kgsec "${@}" -o json | jq '.data | map_values(@base64d)'
}

{{- if eq .machine.type "personal" }}
{{- if eq .chezmoi.os "darwin" }}
hl-connect-dmz() {
    networksetup -setairportnetwork en0 "$(gpg -qd ~/.secrets/DMZ_SSID 2>/dev/null)" "$(gpg -qd ~/.secrets/DMZ_WNP 2>/dev/null)"
}
hl-connect-family() {
    networksetup -setairportnetwork en0 "$(gpg -qd ~/.secrets/FAMILY_SSID 2>/dev/null)" "$(gpg -qd ~/.secrets/FAMILY_WNP 2>/dev/null)"
}
hl-connect-iot() {
    networksetup -setairportnetwork en0 "$(gpg -qd ~/.secrets/IOT_SSID 2>/dev/null)" "$(gpg -qd ~/.secrets/IOT_WNP 2>/dev/null)"
}
{{- end }}
{{- end }}
