[global]
  warn_timeout = "10s"

[whitelist]
  prefix = [
    '{{ .chezmoi.homeDir }}/dev/github/jrmash',
    '{{ .chezmoi.homeDir }}/dev/github/mashinations',
    '{{ .chezmoi.homeDir }}/dev/mashlab',
{{- if eq .machine.type  "work" }}
    '{{ .chezmoi.homeDir }}/dev/github/kareo',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-archive',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-dataops',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-delivery',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-engineering',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-experiments',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-it',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-netops',
    '{{ .chezmoi.homeDir }}/dev/github/kareo-public',
    '{{ .chezmoi.homeDir }}/dev/github/patientpopinc',
    '{{ .chezmoi.homeDir }}/dev/github/tebra-engineering-kb',
    '{{ .chezmoi.homeDir }}/dev/github/tebra-idp',
    '{{ .chezmoi.homeDir }}/dev/github/tebra-marketing',
    '{{ .chezmoi.homeDir }}/dev/github/tebra-payments',
{{- end }}
  ]
